body {
    background-color: #284458;
    }
    .flexcontainer {
      display:flex;
      flex-wrap: nowrap;
      margin: -8px;
      background-color: #f6f6f6;
      justify-content: center;
    }
  
    div.logo img {
      max-width: 310px;
      padding: 30px;
    }
  
  .container {
  position:absolute;
  width: 600px;
  height:742.5px;
  margin: -8px;
  margin-top: 8px ;
  border: #081A26;
  background-color: #081A26;
  }
  
  .om_mig-header {
    text-align: start;
    font-family: bahnschrift;
    font-size: 50px;
    color:#f6f6f6 ;
    margin-left:25px;
    margin-top: 20px;
    line-height: 30px;
  }
  
  .mail {
  font-size: 40px;
  }
  
  .nummer {
  font-size: 40px;
  }


.flexcontainer2 {
margin-top: 80px;


}

.icons {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-left: 600px

  }

  .icons > div {
  background-color: #081A26;
  border: 1px solid #081A26;
  border-radius: 15px;
  padding: 10px;
  height: 300px;
  }