body {
    background-color: #284458;
    }
    
    .flexcontainer {
      display:flex;
      flex-wrap: nowrap;
      margin: -8px;
      background-color: #f6f6f6;
      justify-content: center;
    }
  
    div.logo img {
      max-width: 310px;
      padding: 30px;
    }
  
  .container {
  position:absolute;
  width: 600px;
  height:742.5px;
  margin: -8px;
  margin-top: 8px ;
  border: #081A26;
  background-color: #081A26;
  }
  
  .kontakt_header {
    text-align: start;
    font-family: bahnschrift;
    font-size: 50px;
    color:#f6f6f6 ;
    margin-left:25px;
    margin-top: 192px;
    line-height: 30px;
  }
  
  .mail {
  font-size: 40px;
  }
  
  .nummer {
  font-size: 40px;
  
  }

.om_mig {grid-area: billede;}
.ph {grid-area: ph;}
.il {grid-area: il;}
.in {grid-area: in;}
.xd {grid-area: xd;}
.pr {grid-area: pr;}
.an {grid-area: an;}

.gridcontainer {
margin-top: 8px;
float: right;
display: grid;
grid-template-areas: 
'om_mig om_mig om_mig om_mig om_mig om_mig'
'ph il in xd pr an';
gap:10px;

}

.gridcontainer > div {
text-align: center;

}

.om_mig {
width: 400px;
}