body {
background-color: #284458;
}

.flexcontainer {
    display:flex;
    flex-wrap: nowrap;
    margin: -8px;
    background-color: #f6f6f6;
    justify-content: center;
  }

  div.logo img {
    max-width: 310px;
    padding: 30px;
  }

  .flexcontainer2 {
    position:absolute;
    width: 600px;
    height:742.5px;
    margin: -8px;
    margin-top: 8px ;
    border: #081A26;
    background-color: #081A26;
    }

    .portfolio_header {
      text-align: start;
      font-family: bahnschrift;
      font-size: 50px;
      color:#f6f6f6 ;
      margin-left:25px;
      margin-top: 192px;
      line-height: 30px;
    }
    
    .mail {
    font-size: 40px;
    }
    
    .nummer {
    font-size: 40px;
    
    }

  .gridcontainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  margin-top: 100px;
  margin-left: 790px;
  gap: 10px

  }

.gridcontainer > div img {
  max-width:300px;
  width: auto;
}

.apppt {
  position:relative;
  width: 300px;
  height: 300px;

  }

.apppt_overlay  {
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  opacity: 100%;
  transition: 0.25s;

  }


  .beachpt {
    position:relative;
    width: 300px;
    height: 300px;
  
    }
  
  .beachpt_overlay  {
    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 100%;
    transition: 0.25s;
  
    }


    .gboypt {
      position:relative;
      width: 300px;
      height: 300px;
    
      }
    
    .gboypt_overlay  {
      position:absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      background: rgba(0, 0, 0, 0.6);
      align-items: center;
      justify-content: center;
      opacity: 100%;
      transition: 0.25s;
    
      }


      .kbmpt {
        position:relative;
        width: 300px;
        height: 300px;
      
        }
      
      .kbmpt_overlay  {
        position:absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        background: rgba(0, 0, 0, 0.6);
        align-items: center;
        justify-content: center;
        opacity: 100%;
        transition: 0.25s;
      
        }


        .klientpt {
          position:relative;
          width: 300px;
          height: 300px;
        
          }
        
        .klientpt_overlay  {
          position:absolute;
          top:0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          background: rgba(0, 0, 0, 0.6);
          align-items: center;
          justify-content: center;
          opacity: 100%;
          transition: 0.25s;
        
          }


          .portraitpt {
            position:relative;
            width: 300px;
            height: 300px;
          
            }
          
          .portraitpt_overlay  {
            position:absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            background: rgba(0, 0, 0, 0.6);
            align-items: center;
            justify-content: center;
            opacity: 100%;
            transition: 0.25s;
          
            }