.flexcontainer {
    display:flex;
    flex-wrap: nowrap;
    margin: -8px;
    background-color: #f6f6f6;
    justify-content: center;
  }

  div.logo img {
    max-width: 310px;
    padding: 30px;
  }