
body {
  background-color: #081A26;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
}

.flex-container > div {
  width: auto;
  height: 200px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

div.item1 img {
  max-width: 350px;
  padding: 30px;
}

div.item2 img {
width: 1000px;
height: 150px;
padding-top: 25px;

}

