
body {
  background-color: #081A26;
}


.flexcontainer {
  display:flex;
  flex-wrap: nowrap;
  background-color: #f6f6f6;

}

div.logo img {
  max-width: 300px;
  padding: 30px;
}

.animation {
	width: 1000px;
	height: 150px;
	background: url('billeder/animation.png') 0 0 no-repeat; 	 
	animation: play 5s steps(97) infinite;
}
@keyframes play {
	0%{background: position 0px;}
   100% { background-position: -97000px ; }
}